<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

	<header style="text-align: center;font-family: Arial, Helvetica, sans-serif;color: brown;">
		<div class="container">
			<h2>Air Quality Index Prediction</h2>
		</div>
	</header>

	<form action="{{ url_for('predict')}}" method="post">


			<label>T (°C):</label> <input id="temp" name="temp" type="text" required /><br><br>
			<label>TM (°C):</label> <input id="maxtemp" name="Maxtemp" type="text" required /><br><br>
			<label>Tm (°C):</label> <input id="mintemp" name="Mintemp" type="text" required /><br><br>
			<label>SLP (hPa):</label> <input id="sea" name="Sea" type="text" required /><br><br>
			<label>H (%): </label><input id="humidity" name="Humidity" type="text" required /><br><br>
			<label>VV (Km):</label> <input id="visibility" name="Visibility" type="text" required /><br><br>
			<label>V (Km/h):</label> <input id="wind" name="Wind" type="text" required /><br><br>
			<label>VM (Km/h):</label> <input id="maxwind" name="Maxwind" type="text" required /><br><br>

			<input type="submit" value="predict" class="submitstyle" style="margin-right: 2cm ;" />

	</form>

</body>

</html>

